
.menu {

  ul {
    overflow-y: auto;
    list-style: none;
    padding-left: 0.5em;
    text-align: left;

    li.level-1 {
      font-weight: bold;
    }
    li.level-2 {
      padding-left: 1.5em;
    }
    li.level-3 {
      padding-left: 3em;
    }

    li a {
      text-decoration: none;
      color: var(--primary-color);
    }

    li a:hover {
      color: var(--primary-color-light);
      cursor: pointer;
      transition: color .3s ease-in-out;
    }

    .selected {
      position: relative;
    }

    .selected a {
      color: var(--accent-color);
    }

    .selected:after {
      position: absolute;
      content: "";
      width: 0.1rem;
      height: 75%;
      background-color: var(--accent-color);
      left: -0.5rem;
      top: 0.25rem;
    }
  }


  @media screen and (min-width: 601px) {
    padding-left: 2em;

    .switcher {
      padding-left: 0.5em;
    }
  

  }

  @media screen and (max-width: 600px) {
    position: fixed;
    top: var(--header-grid-height-resp);
    left: 0;
    display: block;
    width: 100%;


    background-color: var(--header-bg-color);
    padding: 1rem;



  }
}
