div.body {
  // Positioning
  position: relative;
  margin-top: calc(var(--header-grid-height) + 1em);
  width: 100%;
  padding: 0 2em;
    
  @media screen and (max-width: 600px) {
    margin-top: calc(var(--header-grid-height-resp) + 1em);
    padding: 0 1em;
  }
}


