
/*
@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url(../fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url(../fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
}
*/

body.arredemo * {
  box-sizing: border-box;
}

/* normalized */
body.arredemo {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', Arial, sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background-color: white;


  h1 {
    font-size: 2em;
    //padding-bottom: 1em;
    color: var(--heading-color-l1);
  }
  h2{
    font-size: 1.5em;
    //padding-bottom: 0.75em;
    color: var(--heading-color-l2);
  }
  h3 {
    font-size: 1.25em;
    //padding-bottom: 0.5em;
    color: var(--heading-color-l3);
  }



  // .arredemo h1:not(:first-child) {
  //   padding-top: 2em;
  // }
  // .arredemo h2:not(:first-child) {
  //   padding-top: 1.25em;
  // }
  // .arredemo h3:not(:first-child) {
  //   padding-top: 1em;
  // }
  // 


  hr {
    padding: 1rem 0;
    border: 0;
    border-bottom: 1px solid var(--bg-color);
  }




  a,
  .link {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-color);

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    cursor: pointer;
    
    &:hover {
      opacity: 0.5;
    }

    img {
      position: relative;
      vertical-align: middle;
    }  
    img + span {
      margin-left  : 0.5em;
    }
  }

  .package-name {
    font-weight: 600;
    color: var(--accent-color);
    
  }

  blockquote {
    font-style: italic;
    color: gray;
  }

}

