.left {
    // Positioning
    position: fixed;
    left: 0;
    width: var(--menu-width-web);
    padding-left: 1em;
    top: calc(var(--header-grid-height) + 1em);
  
    height: calc(100% - calc(var(--header-grid-height) + 1em));
    overflow: hidden;
    
    /*
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1em;
    justify-content: center;
    
    flex-grow: 1;
    display: flex;
    */

    @media screen and (max-width: 600px) {
      display: none !important;
    }

    /*
  
    @media screen and (max-width: 600px) {
      position: fixed;
      top: var(--header-grid-height-resp);
      left: 0;
      display: block;
      width: 100%;
  
      background-color: var(--header-bg-color);
      padding: 1rem;
    }
    */



    // Look and feel
    // font-weight: 200;
    border-right: var(--border);











}

