/* css variables*/
:root {
  --font-size: 12pt;
  --font-size-sm: 9pt;

  --heading-color-l1: #432E30;
  --heading-color-l2: #756060;
  --heading-color-l3: #8E7474;

  --accent-color: #DD356E;
  --accent-color-light: #df608a;

  --action-color: #DD356E;
  --action-color-light: #df608a;

  --link-color: #DD356E;
  --link-color-light: #df608a;  

  --inline-code-color: #5e5656;

  --white-color: #FAFBFC;

  --header-bg-color: #F8F8FA;
  --header-bg-color-secondary: #e4e4f7;
  --code-bg-color: #f9f9f9;

  --header-logo-width: 125px;
  --header-logo-width-resp: 100px;

  --header-grid-height: 4em;
  --header-grid-height-resp: 3em;
  --header-sub-height: 0;
  --header-sub-height-resp: 2.5em;

  --menu-width-web: 20em;
  --menu-responsive-color: rgba(0, 0, 0, 1);

  --border: 1px solid var(--header-bg-color);

}